
app/build/tmp/expandedArchives/classes.jar_52belim3fhhh3h13c0rxnfgw0/android/support/v4/app/FragmentTabHost$DummyTabFactory.class
*.class
*.java
*.json
*.txt
*.properties
app/build/intermediates/incremental/compileDebugAidl/dependency.store
app/build/intermediates/incremental-runtime-classes/debug/instant-run.jar
*.xml
app/build/intermediates/incremental/packageDebug/zip-cache/73IhA_E16_bWx6DkT501qMh_1g0=
*.store
*.png
*.crc
*.apk
*.ap_
*.dex
*.rawproto
*.jar
*.gradle
*.bat
friendlychat-android-master/LICENSE
*.md
friendlychat-android-master/android-start/gradlew
*.pro
*.iml
app/build/intermediates/incremental/packageInstantRunResourcesDebug/zip-cache/73IhA_E16_bWx6DkT501qMh_1g0=
